/* Operator theme colors */
.operator-sidebar {
  background: #065f46;
}

.operator-sidebar .sidebar-link {
  color: #a7f3d0;
}

.operator-sidebar .sidebar-link:hover {
  background: #059669;
  color: white;
}
